<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1502136969935-8d8eef54d77b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNhcm91c2VsfGVufDB8fDB8fHww"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%=title%>
            </h5>
            <p class="card-text">
                <%=caption%>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</body>

</html>