<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- This syntax will write the data of {owner: 'Soumajyoti.' } 
                from index.ejs i.e. from where this component is called -->
            <%=owner%>
        </div>
    </nav>
</body>

</html>